<div class="container my-4">
  <h2 class="text-center">Encuesta sobre Movilidad</h2>

  <form class="mt-4" (ngSubmit)="enviarEncuesta()">
    <div class="mb-3">
      <label class="form-label">¿Usas transporte público?</label>
      
      <!--<select class="form-select" [(ngModel)]="encuesta.usa_transporte" name="usa_transporte">
        <option>Sí</option>
        <option>No</option>
      </select>-->
    </div>

    
    <!--<div class="mb-3">
      <label class="form-label">Frecuencia de uso</label>
      <input class="form-control" [(ngModel)]="encuesta.frecuencia" name="frecuencia" required>
      
    </div>-->

    
    <!--<div class="mb-3">
      <label class="form-label">Opinión sobre movilidad</label>
      <textarea class="form-control" [(ngModel)]="encuesta.opinion_movilidad" name="opinion_movilidad"></textarea>
    </div>-->

    <button type="submit" class="btn btn-primary">Enviar Encuesta</button>
  </form>
</div>